{% extends "base.html" %}
{% block title %}{{user.username}}'s Profile{%endblock%}

{% block page_content  %}
<div class="page-header">
	<h1>{{user.username}}'s profile</h1>
</div>

{%include '_profile.html'%}

{% if current_user.id != user.id and current_user.can(Permissions.FOLLOW) %}
	{% if current_user.is_following(user) %}
	<a href="{{url_for('main.unfollow', user_id=user.id)}}" class="btn btn-primary">
		Unfollow
	</a>
	
	{%else%}
	<a href="{{url_for('main.follow', user_id=user.id)}}" class="btn btn-primary">
		Follow
	</a>
	{%endif%}
{%endif%}
<a href="{{url_for('main.followers', username=user.username)}}">
	Followers:<span class="badge">{{user.follower.count()}}</span>
</a>
<a href="{{url_for('main.following', username=user.username)}}">
	Following:<span class="badge">{{user.followed.count()}}</span>
</a>
{% if current_user.is_authenticated and current_user != user and user.is_following(current_user) %}
	| <span class="label label-default">Follows you</span>
{%endif%}

{%include '_comments.html'%}


{% endblock %}

